<!-- ....................... -->
<div style="width: 100%;">
    <h1 style="font-family: sans-serif; font-size: 30px; text-align: center; margin-top: 120px;">Contact Us</h1>
    <div style="text-align: center;">
      <p style="font-size: 18px;"> <i class="fa-solid fa-phone" style="padding-right: 10px;"></i> 96181 81458</p>
      <p style="margin-top: -10px;font-size: 18px;"><i class="fa-regular fa-envelope" style="padding-right: 10px;"></i> customizedgifts.gog@gmail.com</p>
    </div>
    <!-- <img src="assets/Images/l4.png" alt="img" height="250px" style="margin-top: -220px;margin-left: 330px;"> -->
    </div>
    
    
    <!-- ....................... -->
    
    <div style="height: 350px;width: 100%;background-color: ghostwhite;margin-top: 40px;" >
    
      <div class="card-deck">
        <div class="card" >
          <div class="card-body">
            <h5 style="font-size: 20px;font-family: sans-serif;color: rgb(149, 37, 82);">CATEGORIES</h5>
            
              <ul class="ul" >
               <a routerLink="/forhim" class="at"> <li>Gifts for Men</li></a>
               <a routerLink="/forher" class="at"> <li>Gifts for Women</li></a>
                <a routerLink="/couples" class="at"><li>Diary</li></a>
                <a routerLink="/forhim" class="at"> <li>Travel Gifts </li></a>
                <a routerLink="/homedecors" class="at"> <li>Home Decors</li></a>
                <a routerLink="/forher"class="at"> <li>Women Clutches</li></a>
                <a routerLink="/forhim" class="at"> <li>Wallet</li></a>
                <a routerLink="/essentials" class="at"> <li>Bedsheets</li></a>
                <a routerLink="/essentials" class="at"> <li>Bottles</li></a>
                <a routerLink="/couples" class="at"> <li>Picture Wall Clock</li></a>
                <a routerLink="/bdaygifts" class="at"> <li>Essentials</li></a>
                <a routerLink="/bdaygifts" class="at"> <li>Name Jewellery</li></a>
    
              </ul>
             
            
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <h5 style="font-size: 20px; font-family: sans-serif;color:  rgb(149, 37, 82);">OCCASIONS</h5>
            
            <ul class="ul1">
             <a href="" class="at" routerLink="/bdaygifts"> <li>Birthday Gifts</li></a>
             <a href="" class="at" routerLink="/wedding"> <li>Anniversary Gifts</li></a>
              <a href="" class="at" routerLink="/wedding"><li>Wedding Gifts</li></a>
              <a href="" class="at" routerLink="/homedecors"> <li>House Warming Gifts </li></a>
            </ul>
    
          </div>
        </div>
    
        <div class="card">
          <div class="card-body">
            <h5 style="font-size: 20px; font-family: sans-serif;color:  rgb(149, 37, 82);">QUICK LINKS</h5>
            
            <ul class="ul2">
             <a routerLink="/policy" class="at"> <li>Policy</li></a>
             <a routerLink="/" class="at"> <li>Reviews</li></a>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ....................... -->
    <hr style="color:black; margin-top: 4px;">
    <!-- ....................... -->
    <div style="height: 250px;width: 100%;background-color: ghostwhite;margin-top: 40px; margin-top: -50px;" >
    <h6 class="cop1">Copyright@2023|All Rights Reserved</h6>
    <h6 class="cop">Come fall in love with the products and designs we introduce.We provide you the best designs we have, which are made by our best designers.</h6>
    <h6 class="cop">our crafty workers will never disappoint you with their work.For more updates keep following our social media pages.</h6>
    
    <div style="text-align: center;">
    <i class="fa-brands fa-instagram" style="color: rgb(246, 17, 166);padding-right: 40px;"><a href="https://www.instagram.com/gardenofgifts10" style="text-decoration: none;color: rgb(246, 17, 166);font-family:sans-serif;margin-left: 5px;"> gardenofgifts10</a></i>
    <i class="fa-brands fa-whatsapp" style="color: green;padding-right: 40px;"><a href="https://wa.me/9618181458" style="text-decoration: none;color: green;font-family:sans-serif;margin-left: 10px;">9618181458</a></i>
    <i class="fa-brands fa-youtube" style="color: red;"><a href="https://www.youtube.com/@fashioncorner_2000" style="text-decoration: none;color:red;font-family:sans-serif;margin-left: 10px;">fashioncorner_2000</a></i>
    </div>
    
    </div>
 
    
