<h1 style="font-size: 34px; font-weight: bold;text-align: center; margin-top: 20px;font-family: sans-serif;">Ornaments</h1>
<hr style="width: 50%;margin: 0 auto;">


<div class="row row-cols-1 row-cols-md-4" style="margin-top: 60px;">
  <div class="ng-container" *ngFor="let product of products">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="{{product.imgsrc}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Price: ₹ {{product.price}}</p>
            <button type="button" class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
  
          </div>
        </div>
      </div>
     
    </div>


    <!-- <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Locket</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
   </a>
   <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Bracelet </h5>
          <p class="card-text">Price: 399/-</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Bracelet</h5>
          <p class="card-text">Price: 399/-</p>
        </div>
      </div>
    </div>
    </a>
  </div>
  
  <div class="row row-cols-1 row-cols-md-4" style="margin-top: 20px;">
    <a href="" style="text-decoration: none;color: black;"><div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Ring</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Ring</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="assets/Images/j7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Name Ring</h5>
              <p class="card-text">Price: 299/-</p>
            </div>
          </div>
        </div>
        </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Ring</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
    </a>
  </div>
  
  <div class="row row-cols-1 row-cols-md-4" style="margin-top: 20px;">
    <a href="" style="text-decoration: none;color: black;"><div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Ring</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j10.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name Locket</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="assets/Images/j11.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Name Locket</h5>
              <p class="card-text">Price: 299/-</p>
            </div>
          </div>
        </div>
        </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/j12.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Year Locket</h5>
          <p class="card-text">Price: 299/-</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="assets/Images/j13.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Name Locket</h5>
              <p class="card-text">Price: 299/-</p>
            </div>
          </div>
        </div>
        </a>
         -->