
<h1 style="font-size: 34px; font-weight: bold;text-align: center; margin-top: 20px;font-family: sans-serif;">For Her</h1>
<hr style="width: 50%;margin: 0 auto;">


<div class="row row-cols-1 row-cols-md-4" style="margin-top: 60px;">
  <div class="ng-container" *ngFor="let product of products">
     <div class="col mb-4">
        <div class="card h-100">
          <img src="{{product.imgsrc}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Price: ₹ {{product.price}}</p>
            <button type="button" class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
  
          </div>
        </div>
      </div>
     
    </div>
    



    <!-- <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$10</p>
        </div>
      </div>
    </div>
   </a>
   <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$10</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$8</p>
        </div>
      </div>
    </div>
    </a>
  </div>
  
  <div class="row row-cols-1 row-cols-md-4" style="margin-top: 20px;">
    <a href="" style="text-decoration: none;color: black;"><div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$9</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$10</p>
        </div>
      </div>
    </div>
    </a>
    <a href="" style="text-decoration: none;color: black;">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="assets/Images/e7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">$10</p>
            </div>
          </div>
        </div>
        </a>
    <a href="" style="text-decoration: none;color: black;">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$8</p>
        </div>
      </div>
    </div>
    </a>
  </div>
  
  <div class="row row-cols-1 row-cols-md-4" style="margin-top: 20px;">
    <a href="" style="text-decoration: none;color: black;"><div class="col mb-4">
      <div class="card h-100">
        <img src="assets/Images/e9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">$9</p>
        </div>
      </div>
    </div>
    </a>
     -->