
<div style="padding: 100px;color: rgb(149, 37, 82);font-family: sans-serif;background-image: url('assets/Images/l4.png');background-position: center;background-repeat: repeat;">
<div style="background-color: ghostwhite;height: 500px;width: 100%;border-radius:15px;border: none;">
    <h1 style="text-align: center;padding-top: 60px;">Your Order has Placed !!!</h1>
<p class="para">Your Order will take 8 to 10 business days to reach your doorstep, Please be patient and our team will work to deliver it to you as soon as 
    possible within the mentioned expected delivery date. In the next 3 businessdays a  Mail would be sent to your registered mailId along with the trackingId
    of your order mentioned in it. </p>
    <p class="para">You Can use that TrackingId to track your Order by visiting the respective Delivery Partner Website.  </p>
    <p class="para1">Thankyou for Shopping With Us. Have a good Day !!!</p>

    <div id="cont" style="text-align: center;margin-top: 60px;">
    <button (click)="emptycart()" type="button"      id="btn1" style="background-color: rgb(149, 37, 82) ;height: 40px;width: 250px; color: white;border-radius: 5px;">Continue Shopping</button>
    
    <button (click)="emptycart1()" type="button"     id="btn2" style="background-color: rgb(149, 37, 82) ;height: 40px;width: 250px; color: white;border-radius: 5px;margin-left: 20px;">Back To Home</button>
    </div>
</div> 
</div>

<!-- Please be aware of return policy in case
         of you received any damaged product, Please go through our policies once -->
