.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom,rgb(149, 37, 82),rgb(212, 140, 169));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(149, 37, 82),rgb(212, 140, 169))
    }
h6{
    font-size: large;
}
/* h4{
    text-align: center;
    margin-left: 300px;
} */

