.LF{
    text-align: center;
    margin: auto;
    justify-content: center;

   /* margin-top: 200px;*/
}
.FP{
    margin-left: 20px;
}
 form{
    border-radius: 2px;
  
    
    
} 
.LF{
    font-weight: bold;
}
.A{
    margin-top: 80px;
  

}