<h1 style="text-align: center;font-family: sans-serif;font-weight: bolder;font-size: 42px;color: rgb(149, 37, 82);">Policy</h1>
<img src="assets/Images/l4.png" alt="img" height="400px" style="margin-left: 560px;">

<h4 style="font-family: sans-serif;padding-left: 15px;"> Privacy Policy</h4>


<p style="font-family: sans-serif;padding: 15px;">


    It is homaly's policy to respect your privacy regarding any information we may collect from you across our website, and other sites we own and operate.
    We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we're collecting it and how it will be Used
    We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we'll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification
    When you take part in a Transaction through the Website such as purchasing products or merchandise, Homaty may collect Payment information from you related to such Transaction as well as other Personal Information such as shipping address for shipping of the ordered products or merchandise purchased through the Website. Homafy may use your Personal Information or Payment Information in order to complete the Transaction and, if applicable, to fulfil your purchase. The Payment Information & Shipping Information may also be shared with the third parties, as may be necessary, to fulfill your service (for example, to process the payment made through the credit card or to deliver the product).
    We don't share any personally identitying information publicly or with third-parties other than stated or when required to by law
    Our website may link to external sites that are not operated by us for fulfilment of orders. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies
    You are free to refuse our request for your personal information with the understanding that we may be unable to provide you with some of your desired services
    Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information if you have any questions about how we handle user data and personal information feel free to contact us.

</p>
<h4 style="font-family: sans-serif;padding-left: 15px;"> No refund policy</h4>
<p  style="font-family: sans-serif;padding: 15px;">
    No refunds are applicable in any case. We do consider about our valuable customers thus we tend to compensate through coupon codes/ vouchers/ store credits in Homaty wallet.
</p>
<h4 style="font-family: sans-serif;padding-left: 15px;">Cancellation policy</h4>
<p  style="font-family: sans-serif;padding: 15px;">
    Cancellation of order is not allowed in any case, once order placed it cannot be cancelled. We are a customized store, as soon as order comes it is put into processing to the assigned vendor with your customization details.
</p>
<h4 style="font-family: sans-serif;padding-left: 15px;">Return policy</h4>
<p  style="font-family: sans-serif;padding: 15px;">
    1. For filing return, video of parcel while opening it should be sent to us via mail. The video should be clear. from start to end with label clearly visible and seal of parcel should also be visible. In video it should be clearly visible that customer has opened the parcel by cutting the seal. Video should be made from cutting of seal to opening and checking all functions of product. The return should be reported within a window of 24 hours. There should be no camera manipulation, pauses and cuts, only one single full video will be considered. If logo of any editing app is found on video, it will not be considered
    <br/>
    2. Products are exchangeable within the applicable return window if you've received them in a
    condition that is physically damaged, has missing parts or accessories, defective or different from their description on the product detail page on homaty.com Complaints will be entertained
    only on the same day when product was delivered by submission of opening video.
    <br/>
    3. Exchange will be processed only it,
    <br/>
     it is determined that the product was not damaged while in your possession,
     <br/>
     the product is not different from what was shipped to you;
     <br/>
     the product is returned in original condition (with brands/manufacturers box MRP tog intact, user manual warranty card and all the accessories therein) 
     <br/>
     4. Products marked as "non-returnable" on the product detail page cannot be returned
     <br/>
     5. Return would be not be done in cases of seller remorse or disliking of product. Only valid and genuine reason would be taken into charge.
     <br/>
     6. It would not be possible to refund the full amount in any case as we sell customized items with customer's name or picture so some processing charges would be deducted as per our discretion and 30-50% of refund would be processed
     <br/>
     7. if damage is repairable or minor happened on transit will not be considered. No refund or exchange is possible in this case
     <br/>
     8 in case of exchange or wrong product delivered, process will take 10-12 working days after the date of final solution provided by us. Solution will include picking up of wrong item. Once picked up, tracking details of correct product will be sent.
     <br/>
     9. All updates are automatically sent on registered mobile number regarding order being delivered or in transit in case of tracking or status showing as delivered but product not received by customer, complaint is to be registered within 24 hours of delivery status mentioned in tracking
   
</p>
<h4 style="font-family: sans-serif;padding-left: 15px;">Making and processing time required for orders placed</h4>
<p  style="font-family: sans-serif;padding: 15px;">
    We create customized products where either your name or picture is printed/ engraved on product. Making time ranges from 7-15 days working days (excluding saturdays and sundays) and then 5-6 days for transit time. These are not simple products which are available as it is, they are personalised and designed as per every order it takes time so place orders accordingly. No urgent orders are considered
    <br/>
    For some specific products like customized jewellery and name pendants, lazer cutting and gold plating process is done so it takes 15-20 working days to make it, then the item is dispatched. Similarly bodshoots and ladies clutches may take longer time than 10 working days.    
</p>
    




